    <!-- Page: Presse Detail (hidden by default) -->
    <div class="hidden page intro-detail-page intro-scrollable" id="page-presse">
      <div class="bg-overlay"></div>
      <button onclick="closePresseDetail()" class="bp-close-btn">&times;</button>
      <div class="bp-content">
        <!-- Gallery Grid: wird von gallery-loader.js aus DB befüllt -->
        <div class="bp-grid">
          <div class="bp-cell">
            <img src="img/presse/2. Presse La Regione 19.01.2007.jpg" alt="Presse 2"
              data-image-id="presse-2" data-image-title="Presse 2"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/3. Presse Tessiner Zeitung 19.01.2007.jpg" alt="Presse 3"
              data-image-id="presse-3" data-image-title="Presse 3"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/4. Presse Giorrgoirnale del Popolo 22.01.2007.jpg" alt="Presse 4"
              data-image-id="presse-4" data-image-title="Presse 4"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/5. Presse Corriere del Ticino 09.02.2007.jpg" alt="Presse 5"
              data-image-id="presse-5" data-image-title="Presse 5"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/6. Presse Schweiz Aktuell 2007.jpg" alt="Presse 6"
              data-image-id="presse-6" data-image-title="Presse 6"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/7. Presse La Nazione 19.04.2008.jpg" alt="Presse 7"
              data-image-id="presse-7" data-image-title="Presse 7"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/8. Presse Cronen Zeitung 02.04.2008.jpg" alt="Presse 8"
              data-image-id="presse-8" data-image-title="Presse 8"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/9. Presse Woman 28.09.2008.jpg" alt="Presse 9"
              data-image-id="presse-9" data-image-title="Presse 9"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/10. Presse Kronen Zeitung 28.09.2008.jpg" alt="Presse 10"
              data-image-id="presse-10" data-image-title="Presse 10"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/11. Presse Vormagazin 02.2009.jpg" alt="Presse 11"
              data-image-id="presse-11" data-image-title="Presse 11"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/12. Presse Woman 23.10.2009.jpg" alt="Presse 12"
              data-image-id="presse-12" data-image-title="Presse 12"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/13. Presse Bezirks Blatt Mödling 12.2010.jpg" alt="Presse 13"
              data-image-id="presse-13" data-image-title="Presse 13"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/14. Presse Elite 02.2011.jpg" alt="Presse 14"
              data-image-id="presse-14" data-image-title="Presse 14"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/15. Presse Kronen Zeitung 18.10.2011.jpg" alt="Presse 15"
              data-image-id="presse-15" data-image-title="Presse 15"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/16. Presse Kronen Zeitung 11.11.2011.jpg" alt="Presse 16"
              data-image-id="presse-16" data-image-title="Presse 16"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/17. Presse Le Courrier de Mantes 04.04.2012.jpg" alt="Presse 17"
              data-image-id="presse-17" data-image-title="Presse 17"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/18. Presse Wekopress 2012.jpg" alt="Presse 18"
              data-image-id="presse-18" data-image-title="Presse 18"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/19. Presse Kronen Zeitung 20.07.2013.jpg" alt="Presse 19"
              data-image-id="presse-19" data-image-title="Presse 19"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/20. Presse Österreich 20.07.2013.jpg" alt="Presse 20"
              data-image-id="presse-20" data-image-title="Presse 20"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/21. Presse Blick 28.02.2014.jpg" alt="Presse 21"
              data-image-id="presse-21" data-image-title="Presse 21"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/22. Presse Österreich 19.11.2014.jpg" alt="Presse 22"
              data-image-id="presse-22" data-image-title="Presse 22"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/23. Presse 19.11.2014.jpg" alt="Presse 23"
              data-image-id="presse-23" data-image-title="Presse 23"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/24. Presse Österreich 23.09.2015.jpg" alt="Presse 24"
              data-image-id="presse-24" data-image-title="Presse 24"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/25. Presse Heute 23.09.2015.jpg" alt="Presse 25"
              data-image-id="presse-25" data-image-title="Presse 25"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/26. Presse Österreich.jpg" alt="Presse 26"
              data-image-id="presse-26" data-image-title="Presse 26"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/27. El Periodico de Sotogrande 29.03.2016.jpg" alt="Presse 27"
              data-image-id="presse-27" data-image-title="Presse 27"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/28. Costa Nachrichten 31.03.2016.jpg" alt="Presse 28"
              data-image-id="presse-28" data-image-title="Presse 28"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/presse/29. Tessiner Zeitung 04.11.2019.jpg" alt="Presse 29"
              data-image-id="presse-29" data-image-title="Presse 29"
              class="bp-img body-img">
          </div>
        </div>
      </div>
    </div>