    <!-- Page: Events Detail (hidden by default) -->
    <div class="hidden page intro-detail-page intro-scrollable" id="page-events">
      <div class="bg-overlay"></div>
      <button onclick="closeEventsDetail()" class="bp-close-btn">&times;</button>
      <div class="bp-content">
        <!-- Gallery Grid: wird von gallery-loader.js aus DB befüllt -->
        <div class="bp-grid">
          <div class="bp-cell">
            <img src="img/events/2. Ausstellung Hotel Cordial Wien.jpg" alt="Events 2"
              data-image-id="events-2" data-image-title="Events 2"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/events/3. Ausstellung Galerie Steiner Wien.jpg" alt="Events 3"
              data-image-id="events-3" data-image-title="Events 3"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/events/4. Ausstellung Hofburg Wien.jpg" alt="Events 4"
              data-image-id="events-4" data-image-title="Events 4"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/events/5. Ausstellung Galerie Time Wien.jpg" alt="Events 5"
              data-image-id="events-5" data-image-title="Events 5"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/events/6. Ausstellung Perchtoldsdorf.jpg" alt="Events 6"
              data-image-id="events-6" data-image-title="Events 6"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/events/7. Ausstellung Dunkelbunt Wien.jpg" alt="Events 7"
              data-image-id="events-7" data-image-title="Events 7"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/events/8. Aufstellung 2 Hofburg Wien.jpg" alt="Events 8"
              data-image-id="events-8" data-image-title="Events 8"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/events/9. Performance Wider die Gewalt Wien.jpg" alt="Events 9"
              data-image-id="events-9" data-image-title="Events 9"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/events/10. Performance Cafe Ministerium.jpg" alt="Events 10"
              data-image-id="events-10" data-image-title="Events 10"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/events/11. Ausstellung Parlament Wien.jpg" alt="Events 11"
              data-image-id="events-11" data-image-title="Events 11"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/events/12. Galerie Kunstraum Wien Mitte.jpg" alt="Events 12"
              data-image-id="events-12" data-image-title="Events 12"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/events/13. Ausstellung Cartenpalais Schönborn.jpeg" alt="Events 13"
              data-image-id="events-13" data-image-title="Events 13"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/events/14. Ausstellung Palacinema.jpg" alt="Events 14"
              data-image-id="events-14" data-image-title="Events 14"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/events/15. Ausstellung 'I Mille di Sgarbi'. Museum der modernen Kunst, Cortina D' Ampezzo.jpg" alt="Events 15"
              data-image-id="events-15" data-image-title="Events 15"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/events/16. Ausstellung 'I Mille di Sgarbi' Museo civico archeologico Castiglion Fiorentino.jpg" alt="Events 16"
              data-image-id="events-16" data-image-title="Events 16"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/events/17. Kuns Messe Padua.jpg" alt="Events 17"
              data-image-id="events-17" data-image-title="Events 17"
              class="bp-img body-img">
          </div>
        </div>
      </div>
    </div>