    <!-- Page: Zeichnungen Detail (hidden by default) -->
    <div class="hidden page intro-detail-page intro-scrollable" id="page-zeichnungen">
      <div class="bg-overlay"></div>
      <button onclick="closeZeichnungenDetail()" class="bp-close-btn">&times;</button>
      <div class="bp-content">
        <!-- Gallery Grid: wird von gallery-loader.js aus DB befüllt -->
        <div class="bp-grid">
          <div class="bp-cell">
            <img src="img/zeichnungen/2. Der Orgelspieler.jpg" alt="Zeichnungen 2"
              data-image-id="zeichnungen-2" data-image-title="Zeichnungen 2"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/3. Licht.jpg" alt="Zeichnungen 3"
              data-image-id="zeichnungen-3" data-image-title="Zeichnungen 3"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/4. Lolita.jpg" alt="Zeichnungen 4"
              data-image-id="zeichnungen-4" data-image-title="Zeichnungen 4"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/5. Engel.jpg" alt="Zeichnungen 5"
              data-image-id="zeichnungen-5" data-image-title="Zeichnungen 5"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/6. St.Petrus.jpg" alt="Zeichnungen 6"
              data-image-id="zeichnungen-6" data-image-title="Zeichnungen 6"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/7. Im Winde.jpg" alt="Zeichnungen 7"
              data-image-id="zeichnungen-7" data-image-title="Zeichnungen 7"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/8. Die Kriegerin.jpg" alt="Zeichnungen 8"
              data-image-id="zeichnungen-8" data-image-title="Zeichnungen 8"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/9. Die Schlafende.jpg" alt="Zeichnungen 9"
              data-image-id="zeichnungen-9" data-image-title="Zeichnungen 9"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/10. Der Träumer.jpg" alt="Zeichnungen 10"
              data-image-id="zeichnungen-10" data-image-title="Zeichnungen 10"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/11. Caterina.jpg" alt="Zeichnungen 11"
              data-image-id="zeichnungen-11" data-image-title="Zeichnungen 11"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/12. Sumo.jpg" alt="Zeichnungen 12"
              data-image-id="zeichnungen-12" data-image-title="Zeichnungen 12"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/13. Der Krieger.jpg" alt="Zeichnungen 13"
              data-image-id="zeichnungen-13" data-image-title="Zeichnungen 13"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/14. Die Flucht.jpg" alt="Zeichnungen 14"
              data-image-id="zeichnungen-14" data-image-title="Zeichnungen 14"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/15. Die Liebe.jpg" alt="Zeichnungen 15"
              data-image-id="zeichnungen-15" data-image-title="Zeichnungen 15"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/16. Die Pause.jpg" alt="Zeichnungen 16"
              data-image-id="zeichnungen-16" data-image-title="Zeichnungen 16"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/17. Die Vereinigung.jpg" alt="Zeichnungen 17"
              data-image-id="zeichnungen-17" data-image-title="Zeichnungen 17"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/18. Die Verkündigung.jpg" alt="Zeichnungen 18"
              data-image-id="zeichnungen-18" data-image-title="Zeichnungen 18"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/19. Der Egoist.jpg" alt="Zeichnungen 19"
              data-image-id="zeichnungen-19" data-image-title="Zeichnungen 19"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/20. Der Professor.jpg" alt="Zeichnungen 20"
              data-image-id="zeichnungen-20" data-image-title="Zeichnungen 20"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/21. Der letzte Abend.jpg" alt="Zeichnungen 21"
              data-image-id="zeichnungen-21" data-image-title="Zeichnungen 21"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/22. Die Opernsängerin.jpg" alt="Zeichnungen 22"
              data-image-id="zeichnungen-22" data-image-title="Zeichnungen 22"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/23. Der Dirigent.jpg" alt="Zeichnungen 23"
              data-image-id="zeichnungen-23" data-image-title="Zeichnungen 23"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/24. Monsieur Müller.jpg" alt="Zeichnungen 24"
              data-image-id="zeichnungen-24" data-image-title="Zeichnungen 24"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/25. Die Verführung.jpg" alt="Zeichnungen 25"
              data-image-id="zeichnungen-25" data-image-title="Zeichnungen 25"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/26. Spiritueller Übergang.jpg" alt="Zeichnungen 26"
              data-image-id="zeichnungen-26" data-image-title="Zeichnungen 26"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/27. Sitzende Mademoiselle.jpg" alt="Zeichnungen 27"
              data-image-id="zeichnungen-27" data-image-title="Zeichnungen 27"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/28. Tango.jpg" alt="Zeichnungen 28"
              data-image-id="zeichnungen-28" data-image-title="Zeichnungen 28"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/29. Selbstporträt.jpg" alt="Zeichnungen 29"
              data-image-id="zeichnungen-29" data-image-title="Zeichnungen 29"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/30. Träimend.jpg" alt="Zeichnungen 30"
              data-image-id="zeichnungen-30" data-image-title="Zeichnungen 30"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/31. Lissy.jpg" alt="Zeichnungen 31"
              data-image-id="zeichnungen-31" data-image-title="Zeichnungen 31"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/32. Die Zeit rennt.jpg" alt="Zeichnungen 32"
              data-image-id="zeichnungen-32" data-image-title="Zeichnungen 32"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/33. Nachtclub.jpg" alt="Zeichnungen 33"
              data-image-id="zeichnungen-33" data-image-title="Zeichnungen 33"
              class="bp-img body-img">
          </div>
          <div class="bp-cell">
            <img src="img/zeichnungen/34. Die Melodie eines Engels.jpg" alt="Zeichnungen 34"
              data-image-id="zeichnungen-34" data-image-title="Zeichnungen 34"
              class="bp-img body-img">
          </div>
        </div>
      </div>
    </div>