    <!-- Page 1: Übersicht -->
    <div class="page" id="page-1">
      <div class="page-container">
        <div class="uebersicht-grid">
          <!-- Row 1 -->
          <a
            href="#"
            onclick="openIntroDetail(event)"
            class="uebersicht-tile"
            style="background-image: url('img/intro/bg.jpg');"
          >
            <div class="tile-overlay"></div>
            <span class="tile-title" data-i18n="tile.intro">INTRO</span>
          </a>

          <a
            href="#"
            onclick="openMalereiDetail(event)"
            class="uebersicht-tile"
            style="background-image: url('img/malerei/bg.jpg');"
          >
            <div class="tile-overlay"></div>
            <span class="tile-title" data-i18n="tile.malerei">MALEREI</span>
          </a>

          <a
            href="#"
            onclick="openZeichnungenDetail(event)"
            class="uebersicht-tile"
            style="background-image: url('img/zeichnungen/bg.jpg');"
          >
            <div class="tile-overlay"></div>
            <span class="tile-title" data-i18n="tile.zeichnungen">ZEICHNUNGEN</span>
          </a>

          <!-- Row 2 -->
          <a
            href="#"
            onclick="openEventsDetail(event)"
            class="uebersicht-tile"
            style="background-image: url('img/events/bg.jpg');"
          >
            <div class="tile-overlay"></div>
            <span class="tile-title" data-i18n="tile.events">EVENTS</span>
          </a>

          <a
            href="#"
            onclick="goToNavbar(); event.preventDefault();"
            class="uebersicht-tile kontakt-tile"
            style="background-image: url('img/logo_sign_white.png'); background-color: #1a1a1a;"
          >
            <div class="tile-overlay"></div>
          </a>

          <a href="#" onclick="openBildhauereiDetail(event)" class="uebersicht-tile bildhauerei-tile">
            <img
              src="img/bildhauerei/sculpture_static.jpg"
              alt="Bildhauerei"
              class="tile-img-static"
            />
            <img
              src="img/bildhauerei/sculpture.gif"
              alt="Bildhauerei Animation"
              class="tile-img-gif"
            />
            <div class="tile-overlay"></div>
            <span class="tile-title" data-i18n="tile.bildhauerei">BILDHAUEREI</span>
          </a>

          <!-- Row 3 -->
          <a href="#" onclick="openSandmalereiDetail(event)" class="uebersicht-tile sandmalerei-tile">
            <img
              src="img/sandmalerei/sandpainting_static.jpg"
              alt="Sandmalerei"
              class="tile-img-static"
            />
            <img
              src="img/sandmalerei/sandpainting.gif"
              alt="Sandmalerei Animation"
              class="tile-img-gif"
            />
            <div class="tile-overlay"></div>
            <span class="tile-title" data-i18n="tile.sandmalerei">SANDMALEREI</span>
          </a>

          <a href="#" onclick="openBodypaintingDetail(event)" class="uebersicht-tile bodypainting-tile">
            <img
              src="img/bodypainting/bodypainting_static.jpg"
              alt="Bodypainting"
              class="tile-img-static"
            />
            <img
              src="img/bodypainting/bodypainting.gif"
              alt="Bodypainting Animation"
              class="tile-img-gif"
            />
            <div class="tile-overlay"></div>
            <span class="tile-title" data-i18n="tile.bodypainting">BODYPAINTING</span>
          </a>

          <a
            href="#"
            onclick="openPresseDetail(event)"
            class="uebersicht-tile"
            style="background-image: url('img/presse/bg.jpg');"
          >
            <div class="tile-overlay"></div>
            <span class="tile-title" data-i18n="tile.presse">PRESSE</span>
          </a>
        </div>
      </div>
    </div>
